<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    
    <title>
    {% block title %}
    {% endblock %}
    </title>
    
</head>

<body>
    <div class="top-bar">
        <a class="top-link" href="/">
            home</a>
        |
        <a class="top-link" href="/blog">
            blog</a>
        |
        <a class="top-link" href="/rot13">
            rot13</a>
        |
        <a class="top-link" href="/wiki/Home">
            wiki</a>

        <div class="login-area">
            {% if user %}

                {% block wiki_header_logged_in %}

                {% endblock %}

                {{user.name}}
                (<a class ="top-link" href="/logout">logout</a>)
            {% else %}

                {% block wiki_header_logged_out %}

                {% endblock %}
                
                <a class="top-link" href="/login">login</a>
                |
                <a class="top-link" href="/signup">signup</a>
            {% endif %}
        </div>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
