<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    
    <title>
    {% block title %}
    {% endblock %}
    </title>
    
</head>

<body>
    <div class="top-bar">
    <a class="top-link" href="/">
        Home</a>
    |
    <a class="top-link" href="/blog">
        Blog</a>
    |
    <a class="top-link" href="/rot13">
        Rot13</a>
    
    <div class="login-area">
        {% if user %}
            {{user.name}} 
            (<a class="top-link" href="/logout">logout</a>)
        {% else %}
            <a class="top-link" href="/login">login</a>
            |
            <a class="top-link" href="/signup">signup</a>
        {% endif %}

    </div>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
