{% extends "base.html" %}
{% block title %}
    New Post
{% endblock %}

{% block content %}
 
  <div id="content">
  
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>content</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error" style="color: red">{{error}}</div>

      <input type="submit">
    </form>

  </div>

{% endblock %}